.about {
  margin-bottom: 100px;
}
.about-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 44px;
  color: var(--black-color);
  position: relative;
}
.about-content .about-content-info {
  width: 100%;
  text-align: justify;
  gap: 16px;
}
.about-content .about-content-info .description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.96px;
}
.about-content h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 8px 0;
}
.about-content-about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4.75vw;
}
.about-content-about > div {
  width: 365px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background: var(--black-opacity);
  backdrop-filter: blur(2px);
  padding: 8px;
}
.about-content-about div h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}
.about-content-about div p {
  font-size: 16px;
  font-weight: 400;
}

/* ========================================================================= */

.about-content::after {
  width: 350px;
  height: 350px;
  border-radius: 350px;
  flex-shrink: 0;
  z-index: -1;
}
.about-content::after {
  content: "";
  left: 19.33%;
  bottom: -65%;
  position: absolute;
  filter: blur(100px);
  transform: translateZ(0);
  background: var(--secondary-color-2);
}
/* =========================================================================== */
@media (max-width: 992px) {
  .about-content-about > div {
    width: 100%;
  }
  .about-content-about {
    gap: 20px;
  }
  .about-content::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .about-content-about > div {
    min-height: 73px;
  }

  .about-content-about div h4 {
    font-size: 16px;
  }
  .about-content-about div p {
    font-size: 14px;
  }
  .about-content-about div img {
    width: 64px;
    height: 57px;
  }
}
