.swiper {
  width: 89vw;
  min-height: 375px !important;
  z-index: 0 !important;
  margin: 0 !important;
  padding: 0 5px !important;
}
.services-content {
  position: relative;
}
.swiper-wrapper {
  width: 100% !important;
  height: 100% !important;
  z-index: 0 !important;
  margin: 0 !important;
  gap: 1.38% !important;
  padding: 0 0 !important;
}
.swiper-slide {
  width: 24.2% !important;
  margin: 0 !important;
  font-size: 18px;
  min-height: 327px !important;
  border-radius: 20px;
  background: var(--dark-bg-opacity);
  backdrop-filter: blur(2px);
  padding: 20px 16px;
}
.swiper-slide p {
  margin-bottom: 32px !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.2px;
  letter-spacing: -3%;
}
.swiper-slide h3 {
  font-size: 39px;
  font-weight: 500;
}
.swiper-slide-active {
  width: 49% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: space-between !important;
  background: var(--secondary-color);
  backdrop-filter: blur(2px);
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--secondary-color) !important;
}
@media (max-width: 1200px) {
  .swiper-slide {
    width: 25% !important;
    font-size: 16px;
    min-height: 327px !important;
  }
  .slide-active {
    width: 75% !important;
  }
}
@media (max-width: 767px) {
  .swiper-slide {
    width: 100% !important;
    font-size: 14px;
    min-height: 327px !important;
  }
  .slide-active {
    width: 100% !important;
  }
}
